<div class="map__search-location-input-wrap js-map__search-location-input-wrap  map__search-location-input--route">
    <div class="map__search-location-input">
        <input id="address" class="input" type="text"/>
        <span class="input-clear"></span>
        <span class="input-route">A</span>
    </div>
    <div class="map__search-location-input map__search-location-input--route route-to">
        <input id="to" class="input" type="text"/>
        <span class="input-clear"></span>
        <span class="input-route">B</span>
    </div>
</div>