
<style type="text/css">
    .wrapp-modal{width: 100%;}
    .wrapp-modal th, .wrapp-modal td{
        text-align: center;
    }
    .wrapp-modal thead, .wrapp-modal tbody{
        vertical-align: top;
    }
    .title-img{ font-size: 15px; }
</style>
<table class="wrapp-modal">
    <tbody>
    <tr>
        <td><img src="/asset/images/pop_images/m_disable.png" /></td>
    </tr>
    </tbody>
</table>