{% extends "@adv/server/base.twig" %}

{% block main %}
    <div class="srf-content node-page">
        <div class="srf-content-in">
            <h1 class="title" id="page-title">{{ head.title }}</h1>
            <div class="tabs"></div>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">

                    <div class="sa-info-desc"><span style="color:#e02525;font-weight:bold;">Цель справочника</span> – глобально: способствовать развитию бизнеса в России;
                        в частности: бесплатно помогать жителям в оперативном поиске свежей информации о нужном предприятии, товаре и/или услуге в своем городе.
                    </div>
                    <div class="sa-info-lar">
                        <div id="logo_cont">
                            <div class="logotip_outer">
                                <div class="logotip" alt="Справочников" title="Справочников"></div>
                            </div>
                            <div class="logo_infotext">
                                <ul>
                                    <li>Более 1.2 миллиона предприятий России</li>
                                    <li>Более 900 городов и населенных пунктов</li>
                                    <li>Бесплатное добавление и управление своими компаниями</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p>
                        «Твоя&nbsp;Справка» — это крайне удобный, эффективный и универсальный инструмент для поиска актуальной информации об организациях города. Целью данного интернет-ресурса является бесплатная помощь любому жителю мегаполиса, а также его гостям, минимизировать время и усилия на поиск той или иной компании. База справочника содержит информацию о самых различных предприятиях города и будет полезна как людям занимающихся бизнесом, так и студентам, пенсионерам, туристам. Наш справочник — это постоянно обновляемый ресурс, с детальной информацией по каждому объекту, начиная от сферы деятельности и местом расположения на карте города, заканчивая контактной информацией и режимом работы. Благодаря подробной карте города с указанием улиц, внутриквартальных проездов, остановок городского транспорта, а также информации о проходящих через них маршрутах, вы без труда сможете продумать оптимальный путь.
                    </p>
                    <div class="advantages">
                        <h2 class="header">Преимущества справочников «Твоя&nbsp;Справка»</h2>
                        <ul>
                            <li>Бесплатное добавление компаний</li>
                            <li>Доступ к данным в режиме 24/7 — круглосуточно</li>
                            <li>Полная информация о предприятии</li>
                            <li>Личный кабинет пользователя</li>
                            <li>Самостоятельное редактирование своих компаний</li>
                            <li>Поиск предприятия по рубрикам</li>
                            <li>Поиск предприятия по улице</li>
                            <li>Поиск предприятия по району города</li>
                            <li>Поиск предприятия по сайту</li>
                        </ul>
                    </div>
                    <p>
                        Если вы вышли на рынок недавно и пытаетесь развивать свой бизнес, то бесплатный online справочник «Твоя&nbsp;Фирма» может стать прекрасным средством бесплатно заявить о вашей компании. Удобный интерфейс и возможность создания личного кабинета, позволят вам разместить информацию о вашей компании и в любой момент в режиме реального времени актуализировать ее. Как известно, время — это невосполняемый ресурс, поэтому наши специалисты разработали совершенные механизмы и снабдили ресурс такими важными атрибутами и инструментами, как развернутый рубрикатор, алфавитный указатель, релевантный поиск. Это сделано для того, чтобы вы тратили считанные секунды для поиска необходимой информации. Использование нашего ресурса позволит эффективно и в кратчайшие сроки решить поставленные задачи: заявить о себе, найти новых партеров, расширить границы рынка сбыта или просто приобрести нужную продукцию в своем городе.
                    </p>

                    <p class="signature">
                        Администрация проекта «<b>Твоя<span>Фирма</span></b>»
                    </p>


                </div>
            </div>
        </div>
    </div>
{% endblock %}