{% extends "@adv/server/base.twig" %}

{% block main %}
    {#<div class="srf-content node-page">
        <div class="srf-content-in">
            <h1 class="title" id="page-title">{{ head.title }}</h1>
            <div class="tabs"></div>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">

                    <noindex><br>
                        Если у Вас возникли вопросы, просим обращаться к нам:<br><br>
                        <b>E-mail:</b> <a href="mailto:Info@TvoyaSpravka.ru">Info@TvoyaSpravka.ru</a> (по вопросам рекламы)<br><br>
                        <b>E-mail:</b> <a href="mailto:TvoyaSpravka.ru@gmail.com">TvoyaSpravka.ru@gmail.com</a> (по остальным вопросам)<br><br>

                        <style>
                            span {
                                padding: 5px;
                            }
                        </style>

                    </noindex>


                </div>
            </div>
        </div>
    </div>#}
{% endblock %}