<div class="srf-footer">
    <div class="srf-footer-in">
        <div class="srf-footer-left">
            <ul>
                <span class="mtitle">Информация</span>
                <li><a href="/%D0%BD%D0%B0%D0%BF%D0%B8%D1%81%D0%B0%D1%82%D1%8C-%D0%BD%D0%B0%D0%BC">Контакты</a></li>
            </ul>
        </div>
        <div class="srf-footer-text">
            © «<a target="_blank" href="http://твояфирма.рф">Твоя Фирма</a>» {{ "now" | date("Y") }}. All Right Reserved.

        </div>
        <div class="licounter">
            <!--LiveInternet counter--><script type="text/javascript">document.write("<a href='//www.liveinternet.ru/click;TvoyaFirma' target=_blank><img src='//counter.yadro.ru/hit;TvoyaFirma?t44.2;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) +";h"+escape(document.title.substring(0,80)) +  ";" + Math.random() + "' border=0 width=31 height=31 alt='' title='LiveInternet'><\/a>")</script><!--/LiveInternet-->
        </div>
        <div class="soc_web" id="footer_social_buttons">
            <a title="ТвояФирма в ВКонтакте" target="_blank" rel="nofollow" href="http://vk.com/TvoyaFirma"><img src="/asset/images/vk.png"></a>
            <a title="ТвояФирма в Facebook" target="_blank" rel="nofollow" href="https://www.facebook.com/TvoyaFirma"><img src="/asset/images/fb.png"></a>
            <a title="ТвояФирма в Twitter" target="_blank" rel="nofollow" href="https://twitter.com/TvoyaFirma"><img src="/asset/images/tw.png"></a>
        </div>

    </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/asset/up/main.js"></script>