{% extends "@adv/server/base.twig" %}

{% block main %}
    <div class="srf-content">
        <div class="srf-content-in">
            <h1 class="title" id="page-title">Твоя Фирма - Дополнительные возможности</h1>
            <div class="tabs"></div>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-5" class="node node-page node-promoted clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even"><p>Здравствуйте! <br><br>
                                                Чтобы воспользоваться дополнительными возможностями, такими как:<br></p>
                                            <ul>
                                                <li>Поднятие компании</li>
                                                <li>VIP-статус</li>
                                            </ul>
                                            <p>Нужно перейти по ссылке услуги с сайта справочника города.<br><br>
                                                Найдите свой город и выберите нужную Вам услугу.</p>
                                            <div class="cities">
                                                <div>
                                                    <a class="find-city-link" rel="nofollow" href="http://твояфирма.рф">Выбрать город</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}