<div class="srf-header">
    <div class="srf-header-in">
        <div class="srf-header-logo">
            <a href="/">
                <img title="Твоя Фирма - Дополнительные услуги" src="/asset/images/logo.png"/>
            </a>
        </div>
        <div class="srf-header-city-title">
        </div>
    </div>
</div>