<link type="text/css" rel="stylesheet" href="/asset/css/reset.css" media="all"/>
<link type="text/css" rel="stylesheet" href="/asset/css/style.css" media="all"/>

<div>
    <h3 class="modal__title">Ошибка на странице</h3>
    <p style="margin-left: 20px;">Спасибо за запрос, Ваше обращение будет обработано в ближайшее время.</p>
</div>