<p>
    Пакет {{ tarif }} будет окончен через {{ days }}. Также вы можете оформить другие пакеты для поднятия вашей компании - {{ firm.Name }} в личном кабинете.<br>
    Спасибо за работу с нами.
</p>
<br>
<p>С уважением, администрация проекта <b>“ТвояФирма.рф”</b></p>
