{% extends "@common/base.twig" %}

{% block content %}
    <h1>Контакты</h1>
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
            <div class="field-item even"><p>Связь с редакцией справочника осуществляется посредством удобной
                    контактной формы. Вы можете прислать возникший у вас вопрос, интересное предложение или
                    претензию к работе сайта – мы вам обязательно ответим.</p>
                <p>Благодарим Вас за сообщение. Скоро оно будет рассмотрено. С уважением, ТвояФирма.рф</p>

            </div>
        </div>
    </div>
{% endblock %}