{% extends "@common/base.twig" %}

{% block content %}
    <div class="main_content">

        <h1>Правила публикации — справочник предприятий «Твоя Фирма» </h1>
        <div class="region region-content">
            <div id="block-system-main" class="block block-system">


                <div class="content">
                    <div id="node-83985" class="node node-page node-promoted clearfix">


                        <div class="content">
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even">
                                        <div class="mycompany-content">
                                            <p class="western" style="margin-bottom: 0; line-height: 1.4">
                                                На проекте <b>«ТвояФирма», </b>далее «Проект», зарегистрироваться может
                                                любой пользователь, и добавить информацию о своей компании.
                                                Через личный кабинет пользователем осуществляется редактирование данных
                                                о своей фирме. При размещении информации на
                                                <b>«ТвояФирма»</b>,
                                                пользователь добровольно соглашается действовать согласно с данными
                                                правилами.</p>
                                            <p class="western" style="margin-bottom: 0; line-height: 1.4">
                                                &nbsp;</p>
                                            <p class="western" style="margin-bottom: 16px; line-height: 1.4">
                                                Ответственность за размещенную информацию полностью возлагается на
                                                пользователя. В случае возникновения конфликтных или спорных
                                                ситуаций
                                                Администратор проекта оставляет за собой право на коррекцию и удаление
                                                размещенной информации, а также наложение запрета на
                                                дальнейшее
                                                участие данного пользователя в работе проекта.
                                            </p>
                                            <h2>1. Размещение информации на справочнике «ТвояФирма». Общие
                                                положения</h2>
                                            <ul>
                                                <li>
                                                    <p align="justify"
                                                       style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                        Прохождение регистрации на проекте <b>«ТвояФирма» </b>подтверждает
                                                        ваше согласие с данными правилами.</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Если организация Пользователя уже
                                                        зарегистрирована на проекте, Пользователь может получить права
                                                        на ее управление. Для этого необходимо направить
                                                        запрос в Администрацию одним из способов:</p>
                                                </li>
                                            </ul>
                                            <ol>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Через форму обратной связи «Написать нам»</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Путем отправления запроса с карточки данной организации через
                                                        ссылку «Вы владелец или представитель?» (раздел «О
                                                        компании»)</p>
                                                </li>
                                            </ol>
                                            <p align="justify" style="line-height: 1.4">
                                                <b>ВНИМАНИЕ</b></p>
                                            <ul>
                                                <li>
                                                    <p align="justify" class="western" style="line-height: 1.4">
                                                        Доступ отправляется только на
                                                        адрес корпоративной электронной почты.</p>
                                                </li>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0; line-height: 1.4">
                                                        Если вы уже зарегистрированы, то
                                                        в
                                                        письме также нужно указать ваш логин.</p>
                                                </li>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0.49cm; line-height: 1.4">
                                                        Права на
                                                        управления компанией
                                                        предоставляются пользователю после проведения
                                                        проверки.
                                                    </p>
                                                </li>
                                            </ul>
                                            <h2>2. Правила добавления компании</h2>
                                            <p align="justify"
                                               style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                Компания добавляется через специальную форму по адресу <a
                                                        title="Добавить компанию" class="western" href="/добавить-компанию">ТвояФирма.рф<b>/добавить-компанию</b></a>
                                            </p>
                                            <p align="justify"
                                               style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                <b>Важно:</b>
                                            </p>
                                            <ul>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0; line-height: 1.4">
                                                        Размещение подробной информации о вашей компании обеспечит вам
                                                        большее количество запросов, по которым вашу организацию
                                                        смогут
                                                        найти потенциальные клиенты из поисковых систем Яндекс, <span
                                                                lang="en-US">Google</span>, <span
                                                                lang="en-US">Mail</span> и
                                                        других, а также посетители справочника <b>«ТвояФирма».</b></p>
                                                </li>
                                                <li>
                                                    <p style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Необходимо размещать исключительно достоверную информацию.
                                                        Ответственность за размещенную информацию несет лично
                                                        Пользователь.</p>
                                                </li>
                                                <li>
                                                    <p style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        В случае возникновения конфликтных или спорных ситуаций
                                                        Администрация проекта оставляет за собой право внести
                                                        корректировки
                                                        в
                                                        данные или полностью удалить информацию, размещенную
                                                        пользователем, а также ввести запрет на дальнейшее участие
                                                        пользователя
                                                        в
                                                        проекте.</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        В процессе внесения данных о вашем предприятии мы рекомендуем
                                                        придерживаться следующих правил:</p>
                                                </li>
                                            </ul>

                                            <h3>2.1. Раздел «Контакты»:</h3>

                                            <p align="justify"
                                               style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                <b>Поле «Название организации»:</b>
                                            </p>
                                            <ul>
                                                <li>
                                                    <p align="justify"
                                                       style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                        Данное поле обязательно для заполнения, здесь указывается
                                                        название предприятия (без кавычек)</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        По возможности набирайте название организации заглавными
                                                        буквами</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Организационно-правовую форму («ЗАО», «ООО») указывать не
                                                        нужно</p>
                                                </li>
                                            </ul>
                                            <p align="justify"
                                               style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                <b>Поле «Логотип»:</b>
                                            </p>
                                            <ul>
                                                <li>
                                                    <p align="justify"
                                                       style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                        Изображение - максимально размером 2 МБ</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Возможные форматы: <b>jpeg, png, gif, jpg</b></p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Изображение должно принадлежать Компании и быть подлинным. Не
                                                        рекомендуется использовать другие изображения, которые не
                                                        относятся к товарному знаку, торговой марке компании.</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Изображение не должно быть анимированным, а также запрещены к
                                                        размещению картинки, содержащие номер телефона, интернет
                                                        адреса,
                                                        почтовые адреса и адреса электронной почты.</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Запрещены к размещению изображения порнографического и
                                                        эротического содержания.</p>
                                                </li>
                                            </ul>
                                            <p align="justify"
                                               style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                <b>Поле «Адрес»:</b>
                                            </p>
                                            <ul>
                                                <li>
                                                    <p align="justify"
                                                       style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                        Поля «Улица» и «Дом» являются обязательными для заполнения</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Впереди должно стоять название проспекта, улицы, переулка
                                                        (например, Гороховая улица)</p>
                                                </li>
                                                <li>
                                                    <p align="justify" style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Дом может быть указан с Литерой или с корпусом (например, 17А
                                                        или 17/3)</p>
                                                </li>
                                            </ul>
                                            <h3>
                                                2.2. Раздел «Размещение в каталоге»:
                                            </h3>
                                            <p style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                Для облегчения поиска пользователями укажите максимальное количество
                                                видов деятельности вашей компании, а также ключевые слова.</p>
                                            <p style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                Поле «Виды деятельности»:</p>
                                            <ul>
                                                <li>
                                                    <p style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                        Чтобы указать основные виды деятельности следует выбрать их в
                                                        каталоге и нажать знак «Плюс»</p>
                                                </li>
                                                <li>
                                                    <p style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Вы можете указать сколько угодно основных и дополнительных видов
                                                        деятельности</p>
                                                </li>
                                                <li>
                                                    <p style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        В конце выберите самый главный вид деятельности</p>
                                                </li>
                                            </ul>
                                            <p style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                <b>Поле «Ключевые слова»:</b>
                                            </p>
                                            <ul>
                                                <li>
                                                    <p style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                        Предлагаем указать через запятую ключевые слова, относящиеся к
                                                        деятельности вашей организации</p>
                                                </li>
                                                <li>
                                                    <p style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        Минимально 3 ключевых фраз и/или слов, максимум 7.
                                                    </p>
                                                </li>
                                            </ul>
                                            <h3>
                                                2.3. Раздел «Лицо, ответственное за подачу информации»:
                                            </h3>

                                            <ul>
                                                <li>
                                                    <p style="margin-top: 0.49cm; margin-bottom: 0.42cm; line-height: 1.4">
                                                        В поле «ФИО» необходимо указать ответственного человека</p>
                                                </li>
                                                <li>
                                                    <p style="margin-bottom: 0.49cm; line-height: 1.4">
                                                        В поле «<span lang="en-US">e</span>-<span
                                                                lang="en-US">mail</span>» укажите актуальный <span
                                                                lang="en-US">E</span>-<span
                                                                lang="en-US">mail</span> адрес. На указанный адрес будет
                                                        выслан пароль, чтобы вы смогли самостоятельно управлять
                                                        информацией о компании.</p>
                                                </li>
                                            </ul>
                                            <h2>3. Модерация предоставленных данных</h2>

                                            <p align="justify" class="western"
                                               style="margin-right: 0.42cm; margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 1.4">
                                                На проекте <b>«ТвояФирма» </b>не допускается:</p>
                                            <ul>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0; line-height: 1.4">
                                                        Представляться другим человеком, указывая о себе или о компании
                                                        неверные сведения;</p>
                                                </li>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0; line-height: 1.4">
                                                        Введение в заблуждение, реклама несуществующих товаров или
                                                        услуг;</p>
                                                </li>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0; line-height: 1.4">
                                                        Распространение материалов, которые могут быть расценены как
                                                        несанкционированная реклама, либо являющиеся спамом или
                                                        притязаниями – вторжением в частную жизнь пользователей;</p>
                                                </li>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0; line-height: 1.4">
                                                        Нарушение существующих этических норм и действующих законов;</p>
                                                </li>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0; line-height: 1.4">
                                                        Распространение информации, содержащей незаконные притязания,
                                                        угрозы, клевету;</p>
                                                </li>
                                                <li>
                                                    <p align="justify" class="western"
                                                       style="margin-right: 0.42cm; margin-bottom: 0.49cm; line-height: 1.4">
                                                        Распространение информации насильственного, сексуального и иного
                                                        характера, противоречащей законодательству РФ.</p>
                                                </li>
                                            </ul>
                                            <p align="justify" class="western"
                                               style="margin-right: 0.42cm; margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 1.4">
                                                Избегайте орфографических ошибок и явных нарушений выше перечисленных
                                                правил. Карточки предприятий, не оформленные должным образом,
                                                могут быть отредактированы модератором, либо удалены с проекта при
                                                значительных нарушениях Правил.</p>

                                            <h2>4. Правила показа информации о компании</h2>
                                            <ul>
                                                <li>
                                                    <p class="western" style="margin-bottom: 0; line-height: 1.4">
                                                        В справочнике предприятий организации публикуются в категориях
                                                        видов деятельности, которые были указаны при их
                                                        добавлении;
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="western" style="margin-bottom: 0; line-height: 1.4">
                                                        Предприятия публикуются также в категориях ключевых слов,
                                                        которые были указаны при добавлении;</p>
                                                </li>
                                                <li>
                                                    <p class="western" style="margin-bottom: 0; line-height: 1.4">
                                                        Порядок расположения компаний в категории зависит от даты
                                                        добавления (выше стоит компания, добавленная ранее), но он может
                                                        быть изменен при выборе компанией приоритетного размещения
                                                        согласно правилам раздела «Реклама»;</p>
                                                </li>
                                                <li>
                                                    <p class="western" style="margin-bottom: 0; line-height: 1.4">
                                                        В течение 1-7 дней компания будет доступна для внутреннего
                                                        поиска по сайту;</p>
                                                </li>
                                                <li>
                                                    <p class="western" style="margin-bottom: 0; line-height: 1.4">
                                                        Поиск через поисковые системы возможен через 1-7 дней (по
                                                        усмотрению системы);</p>
                                                </li>
                                                <li>
                                                    <p class="western" style="margin-bottom: 0; line-height: 1.4">
                                                        Метка расположения компании на интерактивной карте города. На
                                                        основе указанного адреса предприятию присваивается метка,
                                                        также
                                                        учитываются данные «Роскартографии» и иных поставщиков
                                                        картографических ресурсов. На точность метки мы повлиять не
                                                        можем.
                                                        Если
                                                        изменить адрес, метка переместится автоматически; либо нужно
                                                        ждать следующего обновления картографической информации.
                                                    </p>
                                                </li>
                                            </ul>
                                            <p align="justify" class="western"
                                               style="margin-right: 0.42cm; margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 1.4">
                                                В случае возникновения затруднений или при несогласии с действиями,
                                                предпринятыми модератором, обратитесь в нашу службу
                                                поддержки.</p>
                                            <p align="justify" class="western"
                                               style="margin-right: 0.42cm; margin-top: 0.49cm; margin-bottom: 0.49cm; line-height: 1.4">
                                                <strong>Внимание!</strong>&nbsp;Все заявки и просьбы принимаются только
                                                в электронном виде через форму написать нам <a title="Обратная связь" href="/написать-нам" class="western">ТвояФирма.рф/написать-нам</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}