{% extends "@common/base.twig" %}

{% block content %}
    <div class="main_content">
        <h1>Пользовательское соглашение</h1>
        <div class="region region-content">
            <div class="content">
                <div id="node-83984" class="node node-page node-promoted clearfix">
                    <div class="content">
                        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even">
                                    <div class="mycompany-content">

                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            Администрация ресурса <b>«ТвояФирма»</b>, именуемая в дальнейшем – «<b>Исполнитель</b>»
                                            оказывает услуги физическому или
                                            юридическому
                                            лицу, именуемому «<b>Пользователь</b>», согласно настоящему Соглашению
                                            Пользователя, при условии принятия Пользователем условий,
                                            обозначенных в Соглашении, и их выполнения.</p>
                                        <p class="western"
                                           style=" margin-bottom: 0.42cm; line-height: 1.4; margin-top: 0.42cm; ">
                                            <b>1. Общие условия </b></p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            1.1. Согласно настоящему Соглашению, Исполнитель оказывает услуги,
                                            посредством которых Пользователь может пройти регистрацию на
                                            сайте <a title="Главная страница"
                                                     href="/" target="_blank">ТвояФирма.рф </a><span
                                                    style="color: #333333"><span style="font-size: 10pt"> </span></span>и
                                            создать
                                            учетные записи.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            1.2. С момента принятия данного соглашения и прохождения регистрации на
                                            ТвояФирма.рф. Пользователь имеет доступ к разделам
                                            справочника,
                                            в которых он может выполнять редактирование данных о своей компании
                                            (контакты, виды деятельности).</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            1.3. Исполнитель не выполняет проверку размещенной Пользователем информации
                                            на соответствие законодательству РФ.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            1.4. Принятие и соблюдение Пользователем пожеланий и требований, указанных в
                                            настоящем Соглашении и предусмотренных
                                            законодательством
                                            РФ, является обязательным условием для оказания услуг Исполнителем.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            1.5. Если Пользователем выступает физическое лицо, то данным пунктом
                                            подтверждается его согласие на обработку и использование
                                            персональных данных.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            1.6. Пользователь соглашается на получение информации от Исполнителя по
                                            электронной почте и иным средствами связи, которые были
                                            указаны
                                            Пользователем при регистрации в справочнике.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            <b>2. Обязанности Пользователя</b></p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            2.1. При прохождении регистрации в обязанности Пользователя входит
                                            предоставление точной, полной и правдивой информации, требуемой
                                            для
                                            регистрации на портале <b>«ТвояФирма». </b>.Пользователем подтверждается,
                                            что информация, указанная во время регистрации, полностью
                                            соответствует существующему законодательству РФ.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            2.2. В обязанности Пользователя входит поддержание актуальности данных,
                                            представленных в информации о компании.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            2.3. Данным Соглашением Пользователь обязуется не выполнять действия,
                                            которые могут препятствовать нормальной работе ресурса.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            2.4. Пользователю вменяется в обязанность соблюдение «Правил публикации»
                                            информационного ресурса <b>«ТвояФирма»</b>, которые
                                            представлены по адресу: ТвояФирма.рф/правила-публикации.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            <b>3. Стоимость услуг</b></p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            &nbsp;</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            3.1. На бесплатной основе осуществляется регистрация в справочнике <b>«ТвояФирма»</b>,
                                            добавление организаций, пользование личным
                                            кабинетом для контроля и управления размещенной информацией.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            3.2. За плату выполняются дополнительные услуги. Размер оплаты
                                            устанавливается Исполнителем по договоренности.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            &nbsp;</p>
                                        <p class="western" style=" margin-bottom: 0.42cm; line-height: 1.4">
                                            <b>4. Ответственность</b></p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            4.1. За ошибки, некорректные данные, упущения, допущенные во время
                                            регистрации и при размещении данных на ресурсе, Исполнитель
                                            ответственности не несет, также как и за любые материальные или
                                            нематериальны убытки, которые возникли из-за таких ошибок и
                                            неточностей.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.2. Исполнитель не несет ответственность за использование третьими лицами
                                            информации, указанной на <b>«ТвояФирма»</b>. Данное
                                            положение
                                            распространяется на любые формы воспроизведения и распространения
                                            информации, размещенной на страницах информационного ресурса.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.3 Исполнитель имеет право отменить регистрацию Пользователя, приостановить
                                            ее, прекратить оказание услуг в случае, если
                                            Пользователем
                                            предоставлены недостоверные данные, любая информация, которая оформлена или
                                            имеет содержание, противоречащее действующему
                                            законодательству, моральным и этическим нормам.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.4. За содержание предоставленной информации, ее достоверность,
                                            ответственность перед Исполнителем и третьими лицами несет
                                            Пользователь.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.5. Если Исполнителю предъявлены претензии со стороны государственных
                                            органов или третьих лиц по причине размещенной информации,
                                            предоставленной Пользователем, последний обязуется предоставить
                                            запрашиваемую информацию по первому требованию Исполнителя.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.6. Ущерб, понесенный Исполнителем (штрафы, взыскания, издержки), по
                                            причине предоставления Пользователем информации,
                                            несоответствующей
                                            нормам действующего законодательства РФ, полностью возмещается
                                            Пользователем.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.7. При возникновении претензий и споров со стороны третьих лиц, в случае
                                            нарушения их прав на средства индивидуализации, на
                                            интеллектуальные продукты по причине размещения данных, предоставленных
                                            Пользователем, последним гарантируется урегулирование споров
                                            за
                                            счет собственных средств. При этом Пользователь в полном объеме принимает на
                                            себя ответственность за нарушения прав третьих лиц.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.8. Пользователь не имеет права на использование данных и информации,
                                            опубликованных другими пользователями и несет перед
                                            владельцем
                                            информации полную ответственность за неправомерное законодательству
                                            использование.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.9. Сохранность справочника пользователя, его профиля и размещенной на
                                            сайте <b>«ТвояФирма» </b>Исполнителем не гарантируется. За
                                            возникшие перебои доступа к <b>«ТвояФирма» </b>через сеть Интернет
                                            Исполнитель ответственности не несет, при условии, что они имеют
                                            объективные причины:</p>
                                        <ul>
                                            <li>
                                                <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                                    перебои в работе российского и международного сегмента сети;</p>
                                            </li>
                                            <li>
                                                <p style="text-align: justify;margin-bottom: 0.49cm; background: #ffffff; line-height: 1.4">
                                                    перебои в электропитании;</p>
                                            </li>
                                            <li>
                                                <p style="text-align: justify;margin-bottom: 0.49cm; background: #ffffff; line-height: 1.4">
                                                    сбои работы машрутизаторов;</p>
                                            </li>
                                            <li>
                                                <p style="text-align: justify;margin-bottom: 0.49cm; background: #ffffff; line-height: 1.4">
                                                    сбои в системе доменных имен;</p>
                                            </li>
                                            <li>
                                                <p style="text-align: justify;margin-bottom: 0.49cm; background: #ffffff; line-height: 1.4">
                                                    сбои, возникшие при попытке несанкционированного управления
                                                    Интернет-ресурсов третьими лицами, а также <span
                                                            lang="en-US">DOS</span>-атаки, которые не позволили
                                                    пользователям иметь доступ к <b>«ТвояФирма»</b>;</p>
                                            </li>
                                            <li>
                                                <p style="text-align: justify;margin-bottom: 0.49cm; background: #ffffff; line-height: 1.4">
                                                    неполадки у Интернет-провайдера.</p>
                                            </li>
                                        </ul>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.10.&nbsp;В обязанности Исполнителя не входит проверка, размещенной на <b>«ТвояФирма» </b>информации,
                                            на соответствие существующему
                                            законодательству РФ. Ответственность за предоставление информации
                                            Исполнитель не несет.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.11. Со стороны Исполнителя доступ к информации, размещенной Пользователем,
                                            может быть заблокирован по собственному усмотрению
                                            Исполнителя, при этом Пользователю предоставляется обоснование.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.12. Данным соглашением Пользователь полностью понимает и соглашается со
                                            следующими положениями:</p>
                                        <ul>
                                            <li>
                                                <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                                    Исполнитель не гарантирует, что предоставление услуг будет
                                                    соответствовать требованиям Пользователя, осуществляться
                                                    безошибочно
                                                    и непрерывно.</p>
                                            </li>
                                            <li>
                                                <p style="text-align: justify;margin-bottom: 0.49cm; background: #ffffff; line-height: 1.4">
                                                    Исполнитель не дает гарантии, что качество информации, товаров и
                                                    услуг, полученных или приобретенных на <b>«ТвояФирма»</b>,
                                                    будет отвечать вашим требованиям и/или пожеланиям.</p>
                                            </li>
                                            <li>
                                                <p style="text-align: justify;margin-bottom: 0.49cm; background: #ffffff; line-height: 1.4">
                                                    Скачивание материалов и любой информации с информационного портала
                                                    <b>«ТвояФирма» </b>осуществляется на усмотрение
                                                    Пользователя.
                                                    Пользователь несет ответственность за вред компьютерной технике и
                                                    потерю информации по причине скачивания.</p>
                                            </li>
                                        </ul>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            4.13. Абсолютная точность предоставленной статистики просмотров посетителями
                                            страниц не гарантируется администрацией информационного
                                            сайта. Так как после посещения страниц роботами поисковых систем
                                            статистические показатели будут увеличиваться (отличить реального
                                            пользователя от робота невозможно).</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            <b>5. Срок действия и изменения условий Соглашения</b></p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            5.1. Началом вступления Соглашения в силу является момент публикации
                                            информации по адресу: ТвояФирма.рф/пользовательское-соглашение
                                            , и
                                            действие Соглашения продолжается до момента его отзыва со стороны
                                            Исполнителя.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            5.2. Исполнитель имеет право внесения изменений в данное соглашение и/или
                                            осуществления отзыва его по своему усмотрению. Любые
                                            изменения, внесенные Исполнителем в соглашение, вступают в силу с момента
                                            опубликования, при условии, что не указан иной срок
                                            вступления
                                            изменений в силу.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            <b>6. Порядок разрешения споров</b></p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            6.1. Любые споры и разногласия, которые могут возникнуть в связи с данным
                                            Соглашением или на его основании, по возможности должны
                                            решаться путем переговоров между Сторонами.</p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            6.2. Если Стороны не пришли к соглашению, дело будет передано на
                                            рассмотрение в Арбитражный суде Свердловской области.</p>
                                        <p class="western" style="margin-bottom: 0cm; line-height: 1.4">
                                            <b>7.Реквизиты Исполнителя</b></p>
                                        <p style="text-align: justify;margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            Связаться с администрацией можно через <span style="color: #00f;"><u><a
                                                            title="Обратная связь" href="/написать-нам">форму обратной связи</a></u></span>.
                                        </p>
                                        <p style="text-align: justify; margin-top: 0.49cm; margin-bottom: 0.42cm; background: #ffffff; line-height: 1.4">
                                            <strong>Внимание!</strong>&nbsp;Заявки на регистрацию, размещение и просьбы
                                            необходимо подавать только в электронном виде.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
{% endblock %}