{% extends "@common/base.twig" %}

{% block content %}
    <div class="main_content">

        <h1>Страница не найдена</h1>
        <div class="region region-content">
            <div id="block-system-main" class="block block-system">
                <div class="content">
                    Страница "{{ url }}" не найдена.
                </div>
                <p><a href="/" title="Главная">Перейти на главную страницу</a>.</p>
            </div>
        </div>

    </div>
{% endblock %}